<div class="header">
	<div class="logo">
		<h1><a href="/">Ones&Zeroes</a></h1>
	</div>

	<div class="nav">
		<% if session[:current_user] %>
			<%= erb :"/partials/_logout_btn" %>
		<% else %>
			<%= erb :"/partials/_login_btn" %>
			<%= erb :"/partials/_signup_btn" %>
		<% end %>
	</div>

  <div class="login">
    <%= erb :"partials/_login" %>
  </div>

   <div class="signup">
    <%= erb :"partials/_signup" %>
  </div>
</div>

