<div class="article">
  <h1><%= @article.title %></h1>
  <p><%= @article.content %><p>
</div>

<div class="comment-box">
  <div class="comments-header">
  	<h3>Comments</h3>
  </div>

  <% @comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.user.name %>:<p>
      <p><%= comment.content %></p>
    </div>
  <% end %>

  <div class="form-comment">
	  <% if session[:current_user] %>
	  	<%= erb :"partials/_new_comment" %>
		<% else %>
		 	<p>Please log in to comment.</p>
	  <% end %>
  <div>

  <div class="janky-form">
  	<%= erb :"partials/_new_comment" %>
  </div>
</div>
